<%- include('./partials/header.ejs'); %>
    

<div id="login-container">
       <div id="left-column"></div>
       <div class="row align-items-start justify-content-center h-100 p-5 my-5 ">
        <div class="col-md-5 ">
          <div class="card">
            <div class="card-header">
              <h2 class="text-white text-center">Signin</h2>
            </div>
         
            <div class="card-body">
               <div id="login-form">
                  <form method="post" action="/">
                    <input
                      type="text"
                      name="username"
                      placeholder="enter mobile or email"
                      value="<%= data.username %>"
                    />
                    <% if (errors.username) { %>
                      <p class="error show"><%= errors.username.msg %></p>
                    <% } %>
                    <input type="password" name="password" placeholder="enter password" />
                    <% if (errors.password) { %>
                      <p class="error show"><%= errors.password.msg %></p>
                    <% } %>

                    <% if (errors.common) { %>
                      <p class="error show"><%= errors.common.msg %></p>
                    <% } %>
                    <input type="submit" value="Login" />
                  </form>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card">
            <div class="card-header">
              <h2 class="text-white text-center">Signup</h2>
            </div>
            <div class="card-body">
              <div id="login-form">
                <form method="post" action="/">
                  <input
                    type="text"
                    name="username"
                    placeholder="Enter username"
                    value="<%= data.username %>"
                  />
                   <input
                    type="text"
                    name="email"
                    placeholder="Enter email"
                    value="<%= data.username %>"
                  />
                   <input type="password" name="password" placeholder="Enter password" />
                   <input
                    type="text"
                    name="phone"
                    placeholder="Enter mobile number"
                    value="<%= data.username %>"
                  />
                   <input
                    type="file"
                    name="avatar"
                    placeholder="enter mobile or email"
                    value="<%= data.username %>"
                  />
                  <% if (errors.username) { %>
                    <p class="error show"><%= errors.username.msg %></p>
                  <% } %>
                 
                  <% if (errors.password) { %>
                    <p class="error show"><%= errors.password.msg %></p>
                  <% } %>

                  <% if (errors.common) { %>
                    <p class="error show"><%= errors.common.msg %></p>
                  <% } %>
                  <input type="submit" value="Login" />
                </form>
              </div>
            </div>
          </div>    
        </div>    
      </div>
    </div>
  </body>
</html>
